In [ ]:
%pip install yfinance

In [5]:
%pip install pandas
%pip install requests

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests) (2024.2.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [18]:
from bs4 import BeautifulSoup
import pandas as pd

# 替换下面的路径为你的文件路径
file_path = '/Users/terrylin/Downloads/SaleMonDetail.html'

# 读取HTML文件
with open(file_path, 'r', encoding='utf-8') as file:
    html_content = file.read()

# 使用BeautifulSoup解析HTML
soup = BeautifulSoup(html_content, 'html.parser')

tables = soup.find_all('table')

# 直接从HTML字符串读取表格数据
dfs = pd.read_html(html_content)

# `dfs`是一个包含所有表格的DataFrame列表
# 你可以通过索引来访问特定的DataFrame，例如：
df = dfs[0]  # 假设你需要第一个表格
df

/var/folders/mv/gb5rn74j78v1_38s5y252t7w0000gn/T/ipykernel_2579/179218990.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfs = pd.read_html(html_content)

     市 場    代碼    股票 名稱     股東會 日期       除息日程                              \
     市 場    代碼    股票 名稱     股東會 日期     除息 交易日 除息 參考 價   填息 完成 日期 填息 花費 日數
     市 場    代碼    股票 名稱     股東會 日期     除息 交易日 除息 參考 價   填息 完成 日期 填息 花費 日數
0      市  0050   元大台灣50        NaN  '23/07/18  130.10  '23/11/21     87.0
1      市  0050   元大台灣50        NaN  '23/01/30  115.50  '23/01/30      1.0
2      市  0051  元大中型100        NaN  '23/11/16   68.60  '23/12/08     17.0
3      市  0052     富邦科技        NaN  '23/04/21  102.15  '23/05/25     24.0
4      市  0053     元大電子        NaN  '23/11/16   68.00  '23/12/14     21.0
...   ..   ...      ...        ...        ...     ...        ...      ...
1039   市  9942       茂順  '23/06/15  '23/08/01  143.00  '23/09/07     27.0
1040   市  9943      好樂迪        NaN  '23/07/19   87.00  '23/07/21      3.0
1041   市  9944       新麗        NaN  '23/06/20   22.00        NaN      NaN
1042   市  9946     三發地產        NaN  '23/08/25   13.65  '23/08/28      2.0
1043   市  9958      世紀鋼        NaN  '23/08/31  157.00  '23/08/31      1.0

                  除權日程                           股東股利 (元/股)                   \
      現金 股利 發放日 除權 交易日 除權 參考 價 填權 完成 日期 填權 花費 日數       現金股利             股票股利
      現金 股利 發放日 除權 交易日 除權 參考 價 填權 完成 日期 填權 花費 日數         盈餘   公積     合計   盈餘
0     '23/08/11    NaN     NaN      NaN      NaN      1.900  0.0  1.900  0.0
1     '23/03/07    NaN     NaN      NaN      NaN      2.600  0.0  2.600  0.0
2     '23/12/12    NaN     NaN      NaN      NaN      2.500  0.0  2.500  0.0
3     '23/05/18    NaN     NaN      NaN      NaN      4.000  0.0  4.000  0.0
4     '23/12/12    NaN     NaN      NaN      NaN      1.900  0.0  1.900  0.0
...         ...    ...     ...      ...      ...        ...  ...    ...  ...
1039  '23/08/25    NaN     NaN      NaN      NaN      5.600  0.0  5.600  0.0
1040  '23/08/17    NaN     NaN      NaN      NaN      3.300  0.0  3.300  0.0
1041  '23/07/20    NaN     NaN      NaN      NaN      1.050  0.0  1.050  0.0
1042  '23/09/20    NaN     NaN      NaN      NaN      0.428  0.0  0.428  0.0
1043  '23/09/26    NaN     NaN      NaN      NaN      0.494  0.0  0.494  0.0


                股利 合計
       公積   合計  股利 合計
0     0.0  0.0  1.900
1     0.0  0.0  2.600
2     0.0  0.0  2.500
3     0.0  0.0  4.000
4     0.0  0.0  1.900
...   ...  ...    ...
1039  0.0  0.0  5.600
1040  0.0  0.0  3.300
1041  0.0  0.0  1.050
1042  0.0  0.0  0.428
1043  0.0  0.0  0.494

[1044 rows x 20 columns]

In [ ]:
import pandas as pd

# 讀取本地HTML文件中的表格
tables = pd.read_html('file:///Users/terrylin/Downloads/SaleMonDetail.html')

# 如果HTML文件來自網絡，先用requests獲取HTML字符串，然後再這樣讀取
# tables = pd.read_html(html_content)

# `tables`是一個包含所有找到的表格的DataFrame列表
for table in tables:
    print(table)